<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cat" class="com.huang.pojo.Dog"/>
    <bean id="dog" class="com.huang.pojo.Cat"/>

    <bean id="people" class="com.huang.pojo.People">
        <property name="name" value="黄亮"/>
        <property name="cat" ref="dog"/>
        <property name="dog" ref="cat"/>
    </bean>

<!--    <bean id="people" class="com.huang.pojo.People" autowire="byName">
        <property name="name" value="黄亮"/>
    </bean>-->

<!--
        <bean id="people" class="com.huang.pojo.People" autowire="byType">
        <property name="name" value="黄亮"/>
    </bean>
-->

</beans>
